<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据分析</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../lib/layui/css/layui.css" media="all">
    <script type="text/javascript" src="../../js/echarts.js"></script>
</head>
<body>

<div class="layui-fluid">

    <div class="" id="demo1" style="width: 100%; height: 400px;"></div>

</div>

<script src="../../lib/layui/layui.js"></script>
<script>
    layui.use(['table', 'layer', 'form', 'jquery'], function () {
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.$;
        var demo1 = echarts.init(document.getElementById("demo1"));
        $.ajax({
            url: "/tsep/student/dataAnalysis",
            method: 'post',
            dataType: 'JSON',
            success: function (res) {
                var taskScore = res.data.taskScore;
                var xdScore = res.data.xdScore;
                var wdScore = res.data.wdScore;
                if (res.code == 0) {
                    var option = {
                        xAxis: {
                            type: 'category',
                            data: ['课后作业', '心得体会', '疑难问题']
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            data: [taskScore, xdScore, wdScore],
                            type: 'bar'
                        }]
                    };
                    demo1.setOption(option);
                } else if (res.code == 1) {
                    layer.msg(res.msg + "，请重新登录！", {
                        icon: 2, time: 2000, end: function () {
                            location.href = "/tsep/studentLogin"
                        }
                    });
                }
            }
        });
    });

</script>

</body>
</html>