<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>师生交流系统平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>

</head>

<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">教师端登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form">
        <input name="number" id="number" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" id="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-type="button" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(login)', function () {
                $.ajax({
                    url: "/tsep/teacher/login",
                    method: 'post',
                    data: {
                        number: $("#number").val(),
                        password: $("#password").val(),
                        status: 1
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg, {icon: 1, time: 2000});
                            location.href = "index.html";
                        } else if (res.code == 1) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            $("#password").val("");
                        } else if (res.code == 2) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            // $("#number").val("");
                            $("#password").val("");
                        } else if (res.code == 3) {
                            layer.msg(res.msg, {icon: 2, time: 500});
                            $("#password").val("");
                        }
                    },
                    error: function (data) {
                        layer.msg("登录失败", {icon: 2, time: 2000})
                    }

                });
                return false;
            });
        });
    })


</script>
<script language="JavaScript" type="text/javascript">
    if (window != top) {
        top.location.href = location.href;
    }
</script>


<!-- 底部结束 -->
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>