<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../lib/layui/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15>

                    <form class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">我的角色</label>
                            <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <span style="color: red; height: 38px; line-height: 38px;">*</span>
                            <div class="layui-input-inline">
                                <input type="text" name="number" id="number" value="" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" id="name" value="" lay-verify="nickname"
                                       autocomplete="off"
                                       placeholder="请输入昵称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="sex" value="1" title="男" id="man">
                                <input type="radio" name="sex" value="0" title="女" id="wman" checked>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年龄</label>
                            <div class="layui-input-inline">
                                <input type="text" name="age" id="age" value="" lay-verify="" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">班级名称</label>
                            <span style="color: red; height: 38px; line-height: 38px;">*</span>
                            <div class="layui-input-inline">
                                <input type="text" name="className" id="className" value="" readonly autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">班级编号</label>
                            <span style="color:red; height: 38px; line-height: 38px;">*</span>
                            <div class="layui-input-inline">
                                <input type="text" name="classNum" id="classNum" value="" lay-verify="nickname" readonly
                                       autocomplete="off"
                                       placeholder="班级编号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phone" placeholder="请输入手机号" id="phone" value=""
                                       lay-verify="phone" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-inline">
                                <input type="text" name="address" placeholder="请输入地址" id="address" value=""
                                       lay-verify="" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-inline">
                                <span style="color:red;">*</span>不可更改项
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="submit" lay-submit lay-filter="setmyinfo">确认修改</button>
                                <button type="reset" id="reset" class="layui-btn layui-btn-primary">重新填写</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../lib/layui/layui.js"></script>
<script type="text/javascript" src="../../js/xadmin.js"></script>
<script>
    layui.use(['table', 'layer', 'form', 'jquery'], function () {
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.$;
        $.ajax({
            url: "/student/userInfo",
            method: 'post',
            dataType: 'JSON',
            success: function (res) {
                if (res.code == 0) {
                    console.log(res.data)
                    $("#number").val(res.data.number)
                    $("#name").val(res.data.name);
                    $("#age").val(res.data.age);
                    $("#className").val(res.data.className);
                    $("#classNum").val(res.data.classNum);
                    $("#phone").val(res.data.phone);
                    $("#address").val(res.data.address);
                    if (res.data.sex == 1) {
                        $("#man").prop('checked', true);
                        $("#wman").prop('checked', false);

                    } else if (res.data.sex == 0) {
                        $("#wman").prop('checked', true);
                        $("#man").prop('checked', false);
                    }
                    form.render();
                } else if (res.code == 1) {
                    layer.msg(res.msg + "，请重新登录！", {
                        icon: 2, time: 2000, end: function () {
                            location.href = "/tsep/login"
                        }
                    });
                }
            }
        });
        $("#reset").on("click", function () {
            $("#name").val("");
            $("#age").val("");
            $("#phone").val("");
            $("#address").val("");
        });
        // $("#submit").on("click",function () {
        //     var name = $("#name").val();
        //     var age =  $("#age").val();
        //     var phone = $("#phone").val();
        //     var address = $("#address").val();
        //
        // })

        form.on('submit(setmyinfo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: "/student/updateInfo",
                method: 'post',
                dataType: 'JSON',
                data: data.field,
                success: function (res) {
                    if (res.code == 0) {
                        console.log(res.data)
                        layer.msg("修改成功", {
                            icon: 1, time: 2000, end: function () {
                                x_admin_close();
                                // location.href = "./index.html";
                            }
                        })

                    } else if (res.code == 1) {
                        layer.msg(res.msg + "，请重新登录！", {
                            icon: 2, time: 2000, end: function () {
                                location.href = "/tsep/login"
                            }
                        });
                    }
                }
            });
            return false;
        });
    });

</script>

</body>
</html>